* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin:20px;
}

header {
	display: flex;
	flex-direction: row;
	height: 100px;
}

#logo {
	margin-right: auto;
}

.nav-list {
	display: flex;
	align-items: center;
	justify-content:center;
	height: 100px;
	width: 100%;
}

.nav-link {
	display: flex;
	align-items: center;
	list-style: none;
	height: 100px;
}

.nav-link a {
	text-decoration: none;
	color: black;
	padding: 40px;
}

.nav-link a:hover {
	border-top: 2px solid #0065FC;
	width :100%;
	color:#0065FC;
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-basis: 100%;
}

#post-header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	padding:10px;
	justify-content: space-around;
}
/* ===== Titre ==== */
.box-title-post-header {
	margin-bottom : 30px;
}

/* ==== Barre de recherche ==== */

.box-search-post-header {
	display: flex;
	flex-direction: row;
	width: 400px;
	height:50px;
	margin-bottom: 10px;
}

.icon-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width : 50px;
	height : 50px;
	background-color:#F2F2F2;
	border-radius: 15px 0 0 15px;;
}

.search-box {
	height : 50px;
	width: 230px;	
	border: 0.5px solid #F2F2F2;
}

#search-input {
	height : 50px;
	width: 230px;
	border :none;
	padding-left: 20px;
	font-weight: bold;
	color: black;
	font-size: 18px;
}

.button-box {
	height : 50px;
	width: 120px;
}

#search-button {
	border: none;
	border-radius: 0 15px 15px 0;
	background-color: #0065FC;
	color: white;
	font-weight: 700;
	font-size: 15px;
	padding : 18px;
	cursor: pointer;
	width: 100%;
}
/* ==== Filtre ===== */

.box-filtre-post-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.filtre-title {
	margin-right: 20px;
	font-weight: bold;
}

.bloc-filtre {
	display : flex;
	flex-direction: row;
	align-items: center;
}

.filtre {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-right : 20px;
	border: solid 2px #F2F2F2;
	border-radius: 50px;
}

.filtre:hover > .icon-filtre {
	background-color: #0065FC;
	color: white;
}

.filtre:hover > .text-filtre {
	color:#0065FC;
}

.icon-filtre {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	border: none;
	border-radius: 100px;
	background-color: #DEEBFF;
	color:#0065FC;
	margin-left: -2px;
}

.text-filtre {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
	margin-right: 15px;
}

/* ==== Petite legende ==== */
.box-information-post-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top : 20px;
	margin-bottom: 20px;
}

.i-information {
	height : 25px;
	width : 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border : 1px solid #F2F2F2;
	border-radius : 50px;
	color : #0065FC;
	font-size : 15px;
}

.text-information {
	margin-left: 20px;
}

/* ==== section hebergement et populaire ==== */


#section-hebergement-populaire {
	display: flex;
	flex-direction: row;	
	width: 100%;
	background-color:white;
	align-items: space-around;
	margin-bottom: 50px;
}

.titre {
	display: flex;
	flex-direction: row;
	margin-left: 30px;
	margin-bottom: 10px;
	margin-top: 30px;
	justify-content: space-between;
	align-items: center;
}

.titre i {
	margin-right: 30px;
	font-size: 25px;
}

/* ==== section hebergement ==== */

#section-hebergement {
	display: flex;
	flex-direction: column;
	background-color:#F2F2F2;
	border-radius: 15px;
	margin-right: 20px;
}

.hebergement-global {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.hebergement-section {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.hotel-hebergement {
	display: flex;
	flex-direction: column;
	padding: 5px;
  	background-color: white;
	border-radius: 20px;
	width: 260px;
	height: 220px;
	margin: 20px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hotel-hebergement img {
	object-fit: cover;
	margin: 0;
	border-radius: 20px 20px 0 0;
	height: 150px;
	width: 250px;
}

.hotel-hebergement-info {
	padding: 10px 20px;
	text-align: center;
}

.hebergement-afficher-plus {
	margin-left: 40px;
}

.hebergement-afficher-plus a {
	text-decoration: none;
	color: black;
}

/* ==== Section populaire ==== */
#section-populaire {
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	border-radius: 15px;
	margin-left: 20px;
}

.populaire-global {
	display: flex;
	flex-direction: column;
	margin: 30px;
}

.hotel-populaire {
	display: flex;
	flex-direction: row;
	padding: 5px;
	height: 160px;
	width: 400px;
  	background-color: white;
	margin-bottom: 30px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.hotel-populaire img {
	display: flex;
	align-items: center;
	justify-content: center;
	object-fit: cover;
	margin:0;
	border-radius: 20px 0 0 20px;
	height: 150px;
	width: 150px;
}

.hotel-populaire-info {
	padding: 10px 20px;
	text-align: center;
}

/* ==== Section activites ==== */

#section-activites {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin-bottom: 50px;
}

.activites-global {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.activites-part {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-right: 30px;
	width: 350px;
}

.activite-marseille-large {
	display: flex;
	flex-direction: column;
	height: 550px;
	border-radius: 20px;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activite-marseille-medium {
	display: flex;
	flex-direction: column;
	height: 300px;
	border-radius: 20px;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activite-marseille-small {
	display: flex;
	flex-direction: column;
	height: 200px;
	border-radius: 20px;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activite-marseille-large img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	margin:0;
	border-radius: 20px 20px 0 0;
}

.activite-marseille-medium img{
	object-fit: fill;
	height: 100%;
	width: 100%;
	margin:0;
	border-radius: 20px 20px 0 0;
}

.activite-marseille-small img{
	object-fit: cover;
	height: 100%;
	width: 100%;
	margin:0;
	border-radius: 20px 20px 0 0;
}

.activite-marseille-info {
	padding: 10px 20px;
	text-align:justify;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	background-color: #F2F2F2;
}

.footer-column {
	display: flex;
	flex-direction: column;
	margin-left: 0;
}
.footer-link li {
	display: flex;
	list-style: none;
	padding: 2px;
}

.footer-link li a {
	transition: all 0.5s ease 0s;
	text-decoration: none;
	color: black;
}

