
nav {
	flex-basis: 100%;
}

nav a {
	flex-basis: 50%;
	text-align: center;
	border-bottom: 3px solid #F2F2F2;
}

nav a:hover {
	border: 3px solid white;
	border-bottom-color: #0065FC;
	color:#0065FC;
}


main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-basis: 100%;
	padding: 0;
}

#post-header {
	padding: 0 10px 0 10px;
}
/* ==== button loupe ==== */
.button-box {
	height: 50px;
	width: 50px;
}

#search-button {
	border-radius: 15px;
	flex-basis: 100%;
}

.recherche-mot {
	display: none;
}

#search-button i {
	display: inline;
}

/* ==== Filtre ===== */

.box-filtre-post-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 10px;
    width: 100%;
}


.bloc-filtre {
    display: flex;
    flex-wrap: wrap;
}

.filtre {
	display: flex;
	flex-direction: row;
	justify-content: center;
    height: 50px;
	margin-right : 20px;
    margin-bottom: 20px;
	border: solid 2px #F2F2F2;
	border-radius: 50px;
}

.filtre:hover > .icon-filtre {
	background-color: #0065FC;
	color: white;
}

.filtre:hover > .text-filtre {
	color:#0065FC;
}

.icon-filtre {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	border: none;
	border-radius: 100px;
	background-color: #DEEBFF;
	color:#0065FC;
	margin-left: -2px;
}

.text-filtre {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
	margin-right: 15px;
}

/* ==== Section : Hebergement et Populaire ===== */

#section-hebergement-populaire {
	display: flex;
	flex-direction: column-reverse;
	background-color: white;
	flex-basis: 100%;
}


/* ==== Section populaire ==== */
#section-populaire {
	display: flex;
	flex-direction: column;
	border-radius: 0;
	background-color: #F2F2F2;
	flex-basis: 100%;
}

.populaire-global {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 30px;
}

.hotel-populaire {
	min-width: 400px;
}

/* ==== Section : hebergement ==== */

#section-hebergement {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 10px;
}

.hebergement-global {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 30px;
}

.hebergement-section {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.hotel-hebergement {
	display: flex;
	flex-direction: column;
	padding: 5px;
  	background-color: white;
	border-radius: 20px;
	width: 400px;
	height: 220px;
	margin: 20px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ===== Section : Activite ===== */

.activites-global {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	align-items: center;
}

.activite-marseille-small, .activite-marseille-medium, .activite-marseille-large {
	display: flex;
	flex-direction: column;
	height: 250px;
	width: 400px;
}

.activite-marseille-small img, .activite-marseille-medium img, .activite-marseille-large img {
	object-fit: cover;
	height: 100%;
	width: 400px;
	margin: 0;
	border-radius: 20px 20px 0 0;
}

footer {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	background-color: #F2F2F2;
}

.footer-column {
	display: flex;
	flex-direction: column;
	margin-left: 0;
}
.footer-link li {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 2px;
}

.footer-link li a {
	text-decoration: none;
	color: black;
}
